<html>
  <head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'card.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'signup.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="login-page">
      <img src="{% static 'logo.png' %}" alt="">
      <div class="card">
        <div class="container">
          <h1>Sign up to Tweetmoji</h1>
          <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <div class="text-container">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username"><br>
            </div>
            <div class="text-container">
              <label for="password">Password:</label><br>
              <input type="password" id="password" name="password"><br>
            </div>
            <div class="text-container">
              <label for="password">Type password again:</label><br>
              <input type="password" id="password_retry" name="password_retry"><br>
            </div>
            <div class="text-container">
              <label for="email">Email:</label><br>
              <input type="email" id="email" name="email"><br><br>
            </div>
            <input type="submit" value="Sign up">
            {% if error %}
            <p>{{ error.message }}</p>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
