* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #1da1f2;
}

nav {
  background-color: #ffffff !important;
}

nav ul a {
  color:black;
  font-size:30px;
}

.login-page {
  display: flex;
  align-content: center;
  justify-content: center;
}

.login-page h1 {
  margin-top: 7vh;
  margin-bottom: 5vh;
  font-size: 1.8vw;
  font-weight: 400;
  color: black;
}

label[for=username],[for=number] {
  font-size: 0.9vw;
  padding-bottom: 30px;
}

input[type=text], [type=number] {
  width: 100%;
  font-size: 1vw;
  display: inline-block;
  background: #c0deed;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

.text-container {
  font-weight: 500;
  text-align: left;
  margin: 0 1.8vw;
  margin-top: 3vh;
}

input[type="submit"] {
  width: 85%;
  font-size: 1.4vw;
  margin-top: 10%;
  background: #1da1f2;
  color: white;
  padding: 5%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0073ca;
}

.login-page img {
  position: fixed;
  height: 13vh;
  top: 7%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.login-page p {
  color: red;
  padding: 1vh;
}



@media screen and (max-width: 992px) {
  .login-page form {
    margin-top: 100px;
  }

  .login-page h1 {
    display: none;
  }

  .text-container {
    font-weight: 500;
    text-align: left;
    margin: 0 6vw;
  }

  label[for="username"],
  [for="password"] {
    font-size: 7vw;
  }

  input[type="text"],
  [type="password"],
  select {
    width: 100%;
    font-size: 6vw;
    margin: 0 0 50px 0;
    display: inline-block;
    background: #c0deed;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 85%;
    font-size: 4vw;
    background: #1da1f2;
    color: white;
    padding: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .login-page img {
    display: none;
  }
}
