* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #1da1f2;
}

nav {
  background-color: #ffffff !important;
}

nav ul a {
  color: black;
  font-size: 30px;
}

.emojify-page {
  display: flex;
  align-content: center;
  justify-content: center;
}

.emojify-page h1 {
  margin-top: 7vh;
  margin-bottom: 5vh;
  font-size: 1.8vw;
  font-weight: 400;
  color: black;
}

label[for="username"],
[for="number"] {
  padding-bottom: 30px;
}

input[type="username"],
[type="number"] {
  width: 100%;
  font-size: 1vw;
  display: inline-block;
  background: #c0deed;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

.text-container {
  font-weight: 500;
  text-align: left;
  margin: 0 1.8vw;
  margin-top: 3vh;
}

input[type="submit"] {
  width: 85%;
  font-size: 1.4vw;
  margin-top: 10%;
  background: #1da1f2;
  color: white;
  padding: 5%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0073ca;
}

@media only screen and (max-width: 1275px) {
  .emojify-page form {
    margin-top: 100px;
  }

  .emojify-page h1 {
    display: none;
  }

  .text-container {
    font-weight: 500;
    text-align: left;
    margin: 0 6vw;
  }

  label[for="number"],[for="username"] {
    font-size: 3vw;
  }

  input[type="username"],[type="number"] {
    width: 100%;
    font-size: 6vw;
    margin: 0 0 50px 0;
    display: inline-block;
    background: #c0deed;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 85%;
    font-size: 4vw;
    background: #1da1f2;
    color: white;
    padding: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .dropdown-trigger,
  .material-icons {
    font-size: 3vw;
  }
}
