body {
  height:90vh;
  margin: 0;
  padding: 0;
  background: #1da1f2;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #ffffff !important;
}

nav ul a {
  color:black;
  font-size:30px;
}

.carousel {
  display: flex;
  justify-content: center;
  height: 100%;
  perspective: 1000px;
}

img{
  position: fixed;
  height: 20vh;
  top: 20%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.carousel .carousel-item {
  width: 23vw;
  height: 40vh;
}

.card {
  width: 100%;
  height: 100%;
  background: #c0deed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  transition: 0s;
}


.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  top: 50%;
  left: 50%;
  width: 94%;
  height: 94%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.card-container h1 {
  word-wrap: break-word;
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0 20px;
  color: black;
  font-size: 1.3vw;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-container h2 {
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 20px;
  color: black;
  font-size: 1vw;
}

.card-container hr {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 12px;
  width: 90%;
}

form{
  display: flex;
}

input[type="image"],
select {
  height:1.3vw;
  margin-top: 50%;
  outline: none;
  background: none;
}

.like-dislike {
  display:flex;
  justify-content: space-around;
}

.like {
  display:flex;
}

.morethan{
  color: rgb(4, 172, 250);
  font-size: 1vw;
  margin-top: px;
}

.lessthan{
  color: rgb(240, 18, 18);
  font-size: 1vw;
  margin-top: px;
}

.equal{
  color: black;
  font-size: 1vw;
  margin-top: px;
}

.dislike {
  text-align: right;
}

.dropdown {
  height:10vh;
  display: flex;
  color: black;
}

.brightness {
  filter: brightness(0.25);
}
